# Xcode
DerivedData/
.DS_Store
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
xcuserdata/
*.xccheckout
*.xcscmblueprint

# Swift Package Manager
.build/
*.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved

# API Key
/Constants/AccessToken.swift