<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>OTHER_SWIFT_FLAGS</key>
	<string>-Xfrontend-enable-actor-data-race-checks</string>
	<key>SWIFT_STRICT_CONCURRENCY</key>
	<string>complete</string>
	<key>UIAppFonts</key>
	<array>
		<string>HannariMincho-Regular.otf</string>
	</array>
</dict>
</plist>
